<hr><br>
<footer class="footer">
    <div>

        <div class="footlink" style="display: flex;">
            <div style="width: 48%;">
                <div><a class="z" href="/services">Our Servicies</a></div><br>
                <div><a class="z" href="/about">About Us</a></div><br>
                <div><a class="z" href="/terms">Terms & Conditions</a></div><br>
            </div>
        
            <div  style="width: 50%;">
                <div><a class="z" href="/remarks">Reviews</a></div><br>
                <div><a class="z" href="/hireme">Work with us</a></div>
             

                
            </div>

        </div>
        
        <Br></Br>
        <div class="footerlinks">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <h3>Contact us:</h3>
            <a href="https://www.instagram.com/vashisth__302?igsh=Y2xubnhya2g2ajlh">@instagram</a> | 
            <a href="">@gmail</a> |
            <a href="https://wa.me/qr/PXNK2BIGJR57K1">@whatsapp</a> 
        </div>

        <div  id="copyright">
            © Copyright 2024 
            <br>
            (Design Hub Private Limited) 
        </div>
        
    </div>
</footer>
<br>