<nav class="navbar navbar-expand-lg bg-body-light border-bottom sticky-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="/home"><i class="fa-solid fa-folder-open"></i></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" aria-current="page" href="/home"><b>Home</b></a>   <!-- what lang and knowlege i know , get in touch -->
          <a class="nav-link" href="/portfolio"><b>Portfolio</b></a>           <!-- resume section + -->    
          <a class="nav-link" href="/hireme"><b>Hire me</b></a>    
          <a class="nav-link" href="/remarks"><b>Remarking</b></a> 
          <a class="nav-link" href="/owner"><b >Owner Area</b></a>   
        </div>
      </div>
    </div>
  </nav>

  <!-- style="border: 1px solid rgb(195, 236, 240); padding: 2px;"-->
 