<% layout('/layouts/boilerplate') %>

<body>
    <div style="padding: 5% ;">
        <h2>About us:</h2>
        <p><b>Hi everyone</b>, Welcome to our page <a href="/home" style="text-decoration: none;"> @design-hub</a>. A platform where you can directly conect with us and got your own websites for your company or other stages. We always try to ensure a good service for our customers.   </p>
        <img src="/Images/webdes2.jpg" alt="Image not found!" style="height: 60vh; width: 70vw;">
        <p>
            Welcome to my freelancing web development hub! I'm Nitin, a passionate web developer dedicated to bringing your digital ideas to life. With a basic experience of some months in the industry, I specialize in creating responsive, user-friendly websites that not only look great but also perform seamlessly.
        </p>
        <p>
            I believe in the power of collaboration and strive to understand your unique vision. Whether you're a startup looking to establish your online presence or a business seeking to enhance your existing site, I'm here to help. My expertise spans various technologies, including HTML, CSS, JavaScript, and popular frameworks like React.
        </p>
        <p>
            What sets me apart is my commitment to quality and attention to detail. I take pride in delivering projects on time and ensuring that my clients are satisfied every step of the way.
        </p>
        <p>
            Let's work together to turn your ideas into reality!
        </p>
    </div>
    
</body>