<% layout('/layouts/boilerplate') %>

<body>
    <div style="margin: 5%; display: flex;">
        
        <div class="card-body"> 
            <b style="border: 1px solid black; padding: 10px;">If you want to get your own professionaly designed Portfolio contact us at <a href="/hireme" style="text-decoration: none;">@hire</a></b>
           <br><br><br>
            <h3>Portfolio Making:</h3>
            <p><br>
                Unlock your creative potential with our Portfolio Maker, designed for artists, designers, and professionals seeking to showcase their work in the best light. Whether you're a photographer, graphic designer, or writer, our intuitive platform allows you to craft stunning, personalized portfolios that capture your unique style.
            </p><p><br>
                With a wide range of customizable templates, easy drag-and-drop features, and seamless integration with social media, you can create a professional presentation that stands out. Highlight your projects, share your story, and impress clients or employers with a polished portfolio that truly represents you.
            </p><p><br>
                Get started today and take the first step toward elevating your professional brand!
            </p><br><br>

 
        </div>

        <div>
            <img src="/Images/port.jpg" class="card-img-top" alt="image not found!" style="height: 60vh; width: 60vh;"> 
        </div>
    </div>
</body>