<% layout('/layouts/boilerplate') %>

<body>
        <div style="padding: 6%;">
            <h2>Terms & Conditions:</h2><br> 
            <img src="/Images/term1.jpg" alt="Image not found"><br>
            <p>
                    1. Introduction<br>

                    Welcome to Design Hub. By engaging our services, you agree to the following terms and conditions.
                </p><p>

                    2. Services<br>

                    We offer web development services, including but not limited to:

                    Website design and development
                    Maintenance and support
                    Consulting services
                </p><p>
                    3. Client Responsibilities<br>

                    Clients are required to provide:

                    Clear project specifications and requirements
                    Timely feedback and approvals
                    Necessary access to any relevant materials
                </p><p>
                    4. Payment Terms<br>

                    A deposit of some % is required before project commencement.
                    Full payment is due upon project completion unless otherwise agreed upon.
                </p><p>
                    5. Project Timeline<br>

                    We will provide an estimated timeline for project completion. Delays caused by client feedback or changes may result in adjusted timelines.
                </p><p>

                    6. Revisions<br>

                    Clients are entitled to 3 rounds of revisions during the project.
                    Additional revisions may incur extra charges.
                </p><p>
                    7. Intellectual Property<br>

                    Upon full payment, clients will own the final project deliverables.Design Hub retains the right to showcase the work in portfolios and marketing materials.
                </p><p>
                    8. Confidentiality<br>

                    We respect your privacy. Any sensitive information shared during the project will be kept confidential.
                </p><p>
                    9. Termination<br>

                    Either party may terminate the agreement with written notice. In the event of termination, clients will be charged for work completed up to the termination date.
                </p><p>
                    10. Limitation of Liability<br>

                    Design Hub is not liable for any indirect, incidental, or consequential damages resulting from our services.
                </p><p>
                    11. Governing Law<br>

                    These terms shall be governed by and construed in accordance with the laws of Indian Government.
                </p><p>
                    12. Amendments<br>

                    We reserve the right to update these terms at any time. Clients will be notified of any significant changes.
                </p><p>
                    13. Acceptance of Terms <br>

                    By engaging our services, you acknowledge that you have read, understood, and agreed to these terms and conditions.
            </p>
            <img src="/Images/term2.jpg" alt="Image not found" height="60%" width="60%"><br>
        </div>
</body>