<% layout('/layouts/boilerplate') %>

<body>
    <div style="margin: 15%; border: 2px solid black; ">
        <form method="get" action="/owner/entry" style="padding: 5%" >
            
                <h2 style="align-items: center;">Enter Your TOKEN:</h2> <br>
                <input type="password" name="token" style="align-items: center;" id="owner">
            &nbsp;&nbsp;&nbsp;&nbsp;
            <button>Submit</button><br><hr style="margin: 10% 5%;">
            <p>Note: Only Owner of this site can be access!</p>
             
        </form>

    </div>
</body>