<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nitin_Owner</title>
</head>
<body>
    <form>
        <fieldset>
        <legend>Control System</legend>  
            <div>
                <h2>Other data</h2><br><br>
            </div><br><br><hr><br><br>
            <div>
                <h2>Submit New Portfolio Project:</h2><br>
                <form method="post" action="/myproject">
                    entries
                    <button>Submit</button>
                </form>
            </div><br><br><hr><br><br>
            <div>
                <h2>Customers Info:</h2><br>
                <div>
                    <a href="/data">See data </a>
                </div>
            </div>

        

        </fieldset>
    </form>
</body>
</html>


