<% layout('/layouts/boilerplate') %>




<body>
    <div style="padding: 3%; background-color: rgb(231, 241, 254);" class="fixmargin">
        <div >
            <p style="color: rgb(209, 168, 247); text-align: center;">My Works</p>
            <h3 style="text-align: center;">Portfolio</h3>
        </div><br>
        
        <div class="filter">
            <button class="filter-btn active" data-filter="*">All</button>
            <button class="filter-btn" data-filter=".wd">Web </button>
            <button class="filter-btn" data-filter=".ui">UI/UX</button>
            <button class="filter-btn" data-filter=".pf">Portfolios</button>
        </div>
        <div class="grid">
            
            <div class="grid-item ui">
                <div class="gallery-image">
                    <img src="/Images/work1.png" alt="" class="imag">
                    <div class="img-overlay">
                        <div class="plus"></div>
                        <div class="img-description">
                            <h3>UI/UX</h3>
                            <h5>View Demo</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid-item wd">
                <div class="gallery-image">
                    <img src="/Images/work2.png" alt="" class="imag">
                    <div class="img-overlay">
                        <div class="plus"></div>
                        <div class="img-description">
                            <h3>Web Devevopment</h3>
                            <h5>View Demo</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid-item ui">
                <div class="gallery-image">
                    <img src="/Images/work3.png" alt="" class="imag">
                    <div class="img-overlay">
                        <div class="plus"></div>
                        <div class="img-description">
                            <h3>UI/UX</h3>
                            <h5>View Demo</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid-item wd">
                <div class="gallery-image">
                    <img src="/Images/work4.png" alt="" class="imag">
                    <div class="img-overlay">
                        <div class="plus"></div>
                        <div class="img-description">
                            <h3>Web Devevopment</h3>
                            <h5>View Demo</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid-item ui">
                <div class="gallery-image">
                    <img src="/Images/work5.png" alt="" class="imag">
                    <div class="img-overlay">
                        <div class="plus"></div>
                        <div class="img-description">
                            <h3>UI/UX</h3>
                            <h5>View Demo</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid-item pf">
                <div class="gallery-image">
                    <img src="/Images/work6.png" alt="" class="imag">
                    <div class="img-overlay">
                        <div class="plus"></div>
                        <div class="img-description">
                            <h3>Portfolio</h3>
                            <h5>View Demo</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid-item wd">
                <div class="gallery-image">
                    <img src="/Images/work7.png" alt="" class="imag">
                    <div class="img-overlay">
                        <div class="plus"></div>
                        <div class="img-description">
                            <h3>Web Devevopment</h3>
                            <h5>View Demo</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid-item pf">
                <div class="gallery-image">
                    <img src="/Images/work8.png" alt="" class="imag">
                    <div class="img-overlay">
                        <div class="plus"></div>
                        <div class="img-description">
                            <h3>Portfolio</h3>
                            <h5>View Demo</h5>
                        </div>
                    </div>
                </div>
            </div>

            <div class="grid-item wd">
                <div class="gallery-image">
                    <img src="/Images/work9.png" alt="" class="imag">
                    <div class="img-overlay">
                        <div class="plus"></div>
                        <div class="img-description">
                            <h3>Web Devevopment</h3>
                            <h5>View Demo</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid-item pf">
                <div class="gallery-image">
                    <img src="/Images/work12.png" alt="" class="imag">
                    <div class="img-overlay">
                        <div class="plus"></div>
                        <div class="img-description">
                            <h3>Portfolio</h3>
                            <h5>View Demo</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid-item ui">
                <div class="gallery-image">
                    <img src="/Images/work11.png" alt="" class="imag">
                    <div class="img-overlay">
                        <div class="plus"></div>
                        <div class="img-description">
                            <h3>UI/UX</h3>
                            <h5>View Demo</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid-item ui">
                <div class="gallery-image">
                    <img src="/Images/work10.png" alt="" class="imag">
                    <div class="img-overlay">
                        <div class="plus"></div>
                        <div class="img-description">
                            <h3>UI/UX</h3>
                            <h5>View Demo</h5>
                        </div>
                    </div>
                </div>
            </div>
          
        </div>
    
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/js/isotope.pkgd.min.js"></script>
</body> 


<!-- need to reduce same code  ,   7,9,10 css-->